#titlearea{
	background-color:#C0C0C0;
	border-radius:5px;
	font-size:30px;
	
	text-align:center;
	
}

.ip{
	background-color:#C0C0C0;
	border-radius:25px;
	text-align:center;
	font-size:40px;
	width:140px;

}

.ipbin{

	background-color:#C0C0C0;
	border-radius:25px;
	text-align:center;
	font-size:22px;
	display: inline-block;
	width:146px;

}

#iptitle{
	font-size:40px;
}

#iprows{


}

#iprow{
	
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	
}

#ipbinrow{
	
	text-align:center;	
	margin-top:0px;
	margin-bottom:0px;
}


body {
	font-family: 'Julius Sans One', sans-serif;

}